{% load static %}

<body>
	<!--Main Wrapper-->
	<div class="wrapper">
		<!-- Header Start -->
		<header id="header">
			<div class="main-header">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 mt-3">
							<div class="logo me-auto">
								<figure>
									<a href="{% url 'home' %}" class="light-logo">
										<img src="{% static 'logo/foodhub_logo.png' %}" alt="FoodHub" width="180">
									</a>
								</figure>
							</div>
							<div class="main-location ml-3">
								<ul>
									<li class="location-has-children choose-location">
										<form action="#">
											<input type="text" value="" name="location" placeholder="Enter your delivery location" autocomplete="off">
											<span id="foodbakery_radius_location_open" class="foodbakery-radius-location"><i class="icon-target5"></i></span>
										</form>
									</li>
								</ul>
								</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="login-option">
                                {% if user.is_authenticated %}
                                    <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'dashboard' %}">My Account</a>
                                    <a class="cs-color cs-popup-joinus-btn login-popup text-danger" href="{% url 'signout_user' %}">Logout</a>
                                {% else %}
                                    <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'signin_user' %}">Login</a> /
                                    <a class="cs-color cs-popup-joinus-btn login-popup ml-0" href="{% url 'signup_user' %}">Register</a><a class="get-start-btn" href="{% url 'signup_vendor' %}">
                                        Register
                                        Restaurant </a>
                                {% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
    </div>
</body>